body {
    background-color: #bde0fe;

}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: gray;
    border-width: 5px;
    width: 10%;

}

h1 {
    color: #0050b8;
}

h3 {
    color: #9196e4;
}